page-project-detail {
    
   .itemo{  
    p{
        color:black !important;
    }
   }

   .reward_card{
       button{
           width:100%;
           margin-top:10px auto 10px auto;
       }
   }

   .col1{
       p:nth-child(odd){
           font-weight: bold;
       }
   }

   .reward_container{
    background:map-get($colors, madlightGrey);
   }
}
