<!--
  Generated template for the ProjectDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><img width="110" height="40" src="assets/imgs/MAD_Logo_Blanc.png"></ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="selectedPost" class="reward_container">
  <!-- <h3 class="titre">Rewards  {{ selectedPost.product_name }}</h3> -->
  <ion-card  *ngFor="let item of selectedPost.level">

    <!-- <div [innerHTML]="selectedPost.thumbnail"></div> -->

    <ion-card-content class="reward_card">
      <ion-card-title class="titre">
          {{item.title}}
      </ion-card-title>
        <div class="itemo" >
          <ion-grid>
            <ion-row>
              <ion-col class="col1" col-12>
                <p>{{item.price}}$ PACKAGE</p>
                <p>{{item.backer}} Maders</p>
                
                <p>WHAT YOU GET</p>
                <p>{{item.reward_desc}}</p>
              </ion-col>
            </ion-row>
            <button ion-button color="light">PURCHASE</button>
            <ion-row>
              <ion-col col-6>
                <p>DELIVERED DURING</p>
                <p>{{item.delivery}}</p>
              </ion-col>
              <ion-col col-6>
                <p>REACHES</p>
                <p>{{item.ship_to}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        
    </ion-card-content>

  </ion-card>

</ion-content>
