<ion-header>
  <ion-navbar>
      <ion-title><img width="110" height="40" src="assets/imgs/MAD_Logo_Blanc.png"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="content_container">
       <!-- Story line -->
   <ion-scroll class="story" scrollX="false">
    <div class="story_scroll" *ngFor="let user of users">
      <div class="story_img_bg">
      <img no-margin no-padding class="story_img" [src]="user.tof"></div>
      <p no-margin no-padding text-center class="story_text">{{ user.display_name }}</p>
    </div>
  </ion-scroll>
  <hr no-margin no-padding>


    <div class="cart_title">  
        <h2 class="titre">Top Projects</h2> 
    </div>
  
    <ion-card *ngFor="let post of posts">

      <div [innerHTML]="post.thumbnail"></div>
  
      <ion-card-content >
        <ion-card-title >
          {{ post.product_name }}
        </ion-card-title>
        <div [innerHTML]="post.short_desc"></div>
        <br>
        <p>
         goal: {{ post.goal }} USD
        </p>
      </ion-card-content>
  
      <ion-item>
        <ion-icon name='musical-notes' item-start style="color: #d03e84"></ion-icon>
        Albums
        <ion-badge item-end>9</ion-badge>
      </ion-item>
  
      <ion-item>
        <ion-icon name='logo-twitter' item-start style="color: #55acee"></ion-icon>
        Followers
        <ion-badge item-end>260k</ion-badge>
      </ion-item>
  
    </ion-card>
</ion-content>
