page-intro {
    .swiper-pagination-bullet-active {
        background: map-get($colors, madBlue);
      }

      #mainContent{
          background-color: map-get($colors, madPink);
          color : map-get($colors, madlightGrey);
          background-image: linear-gradient(to top, map-get($colors, madPink) 0%,  map-get($colors, madBlue) 100%);
      }

      #btn {
          border: 1px solid map-get($colors, madBlue);
          color: map-get($colors, madBlue);
          transition: 1s ease;

          &:hover{
              background-color: map-get($colors, madBlue);
              color : map-get($colors, madPink);
          }
      }

      .logInput{
        background: #652F62;
         border: none !important;
        border-radius:3px;
        color: #fff;
      } 

      .text-input-wp{
          border:none !important;
      }

      #log_btn{
        background: #652F62 !important;
      }

      #logForm{margin-top:20px;}
}

